server {
    server_name pip  www.{{domain}}  {{domain}};

    location = /favicon.ico { access_log off; log_not_found off; }
    location /static/ {
        root {{app_url}};
    }
    location /media/ {
        root {{app_url}};
    }
    location / {
        include proxy_params;
        proxy_pass http://unix:/run/{{app_socket_name}}.sock;
    }
}