[Unit]
Description=gunicorn daemon
Requires={{cookiecutter.app_name}}.socket
After=network.target


[Service]
User=ubuntu
Group=www-data
WorkingDirectory={{cookiecutter.APP_URL}}/{{cookiecutter.APP_NAME}}
ExecStart={{cookiecutter.app_name}}/venv/bin/gunicorn \
    --access-logfile - \
    --workers 3 \
    --bind unix:/run/{{cookiecutter.app_name}}.sock \
    {{cookiecutter.app_name}}.wsgi:application

[Install]
WantedBy=multi-user.target
