[Unit]
Description=gunicorn daemon
Requires={{cookiecutter.APP_NAME}}.socket
After=network.target


[Service]
User=ubuntu
Group=www-data
WorkingDirectory={{cookiecutter.APP_URL}}/{{cookiecutter.APP_NAME}}
ExecStart={{cookiecutter.APP_NAME}}/venv/bin/gunicorn \
    --access-logfile - \
    --workers 3 \
    --bind unix:/run/{{cookiecutter.APP_NAME}}.sock \
    {{cookiecutter.APP_NAME}}.wsgi:application

[Install]
WantedBy=multi-user.target
