server {
    server_name  www.{{cookiecutter.DOMAIN}}  {{cookiecutter.DOMAIN}};

    location = /favicon.ico { access_log off; log_not_found off; }
    location /static/ {
        alias /var/html/www/{{cookiecutter.APP_NAME}}/static/;
    }
    location /media/ {
        alias /var/html/www/{{cookiecutter.APP_NAME}}/media/;
    }
    location / {
        include proxy_params;
        proxy_pass http://unix:/run/{{cookiecutter.APP_NAME}}.sock;
    }
}